body {
 background-color:lightblue
}
/* ----------------------------------------Header-------------------------------------- */
header { 
  
  display: flex;
  background-color: #131c35;
  margin-top: -9.5px;
  margin-left: -9.5px;
  margin-right: -9.5px;
  padding: 20px;
  position:fixed;


 }


header img {
width: 25vw;
}

/* ----------------------------------------Nav-------------------------------------- */
.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 45px;
 
 }

 .navigation-bar {

  margin-left: 80px;
  width: 100vw;

  }
  
  a {
    display:flex;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    width: 15%;
    color: white;
}

.cart-link {
  color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: aqua;
  font-size: 30px;
}



/* ----------------------------------------Focus section-------------------------------------- */

.focus-items {
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/girl-library.jpg) ;
    margin-left: -9px;
    margin-top: 15;
}

.focus-title {
  
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    background-color:rgb(0, 162, 196, 0.85);
    width: 65%;
    color: #131c35 ;
    font-weight: bold;
    font-size: 25px;
    margin-top: 15%;
    
}
/* ---------------------------------items--------------------------------------- */
.items {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: rgba(0,0,0,0.5) ;
    height: 45vh;
    width: 35vw;
       
  }

.items:hover {
  background-color: black;
  margin: -5px;
  box-shadow: 2.5px 20px 20px  15px rgb(0, 162, 196, 0.85);

}

.items-container {
  display: flex;
  justify-content: center;
  padding:20px;
  margin-top: 2.5rem;
  margin-left:-13px;
}



 .shirt-price {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 15px;
 }

.description{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 15px;
}


/* ----------------------------------------All items section-------------------------------------- */

.all-items {
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100vw;
    background-image: url(./images/college-friends.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    padding: 15px;
    margin-left: -15px;
}



.items-title {
  
  display: flex;
  justify-content: center;
  margin-top: 5%;
  background-color:rgb(0, 162, 196, 0.85);
  width: 65%;
  color: #131c35 ;
  font-weight: bold;
  font-size: 25px;
  margin-left: 35%;
  
}